<div class="container">
    <div>
        <h2>Formulaire d'inscription :</h2>
    </div>
    <form>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Civilité</label>
            <select class="form-control form-control-lg" id="Civilite" name="Civilite" [(ngModel)]="newUser.civilite">
                <option [value]=1>
                    Monsieur
                </option>
                <option [value]=2>
                    Madame
                </option>
            </select>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom</label>
            <input type="text" [(ngModel)]="newUser.nom" name="nomUser" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Prenom</label>
            <input type="text" [(ngModel)]="newUser.prenom" name="prenomUser" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Annee de naissance</label>
            <input type="text" [(ngModel)]="newUser.anneeNaissance" name="userDOB" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Adresse</label>
            <input type="text" [(ngModel)]="newUser.adresse" name="adresseUser" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Code Postal</label>
            <input type="text" [(ngModel)]="newUser.codePostal" name="cpUser" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Ville</label>
            <input type="text" [(ngModel)]="newUser.ville" name="villeUser" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Pays</label>
            <input type="text" [(ngModel)]="newUser.pays" name="paysUser" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>E-mail</label>
            <input type="text" [(ngModel)]="newUser.username" name="usernameUser" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Mot de passe :</label>
            <input type="password" [(ngModel)]="newUser.password" name= "passwordUser" class="form-control">
        </div>

        <div class="row justify-content-md-center">
            <button type="submit" (click)="register()" class="btn btn-success">Inscription</button>
        </div>
    </form>
</div>